form(action="." method="POST")

  label(for="quote") Quote:
  input(
    type="text"
    id="quoute"
    name="quote"
  )
  label(for="author") Author:
  input(
    type="text"
    id="author"
    name="author"
  )
  label(for="source") Sourcer:
  input(
    type="text"
    id="source"
    name="source"
  )

  input(type="submit" value="Submit")