extends layout

block content
  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  form(action="." method="POST")

    label(for="quote") Quote:
    input(
      type="textarea"
      cols="50"
      rows="5"
      id="quote"
      name="quote"
      value="data.quote"
    )
    label(for="author") Author:
    input(
      type="text"
      id="author"
      name="author"
      value="data.author"
      placeholder="author"
    )
    label(for="source") Source:
    input(
      type="text"
      id="source"
      name="source"
      data="data.source"
    )

    input(type="submit" value="Submit")